.MeasureGroup {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid gray;
	padding: .5em;
	/* margin: 1em; */
}

.MeasureGroup > .name {
	margin: .5em;
	font-size: 1.3em;
}
